<?xml version='1.0' encoding='utf-8'?>
    <widget id="io.cordova.udpx" version="1.0.9"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name short="udpx">udpx video</name>
    <description>
        Video is rendered to canvas and send via UDP Pixels protocol to addressable Leds.
        Firmware for ESP32: https://github.com/martinberlin/udpx
    </description>
    <author email="martin@luckycloud.de" href="http://udpx.fasani.de">
        udpx Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        <resource-file src="res/values/colors.xml" target="/app/src/main/res/values/colors.xml" />
        <icon background="@color/background" density="mdpi" foreground="res/icon/udpx-48.png" />
        <icon background="@color/background" density="hdpi" foreground="res/icon/udpx-72.png" />
        <icon background="@color/background" density="xhdpi" foreground="res/icon/udpx-96.png" />
        <icon background="@color/background" density="xxhdpi" foreground="res/icon/udpx-144.png" />
        <icon background="@color/background" density="xxxhdpi" foreground="res/icon/udpx-192.png" />

        <feature name="Camera">
            <param name="android-package" value="cordova-plugin-media-custom" />
        </feature>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

</widget>
